<div class=" container card shadow my-2 border border-primary border-left-0 border-top-0 border-right-0">
		<div class="card-body">
			<a class="card-title text-decoration-none font-weight-bold" href="#" (click)="showPost(post.post_id)" style="font-size: 18px;">Title</a>
			<div class="d-flex justify-content-between font-italic" style="font-size: 12px">
				<p>By Damon</p>
				<p>On 24-03-19</p>
			</div>
			<p class="card-text" style="overflow: hidden; text-overflow: ellipsis; width: auto; white-space: nowrap;"></p>
		</div>
	</div>