<div class="card shadow mb-2 border border-primary border-left-0 border-top-0 border-right-0">
	<div class="card-body">
		<a class="card-title text-decoration-none font-weight-bold" style="font-size: 1.3rem"> {{ post.title }} </a>
		<span class="d-flex justify-content-between font-italic small text-muted">
			<p>By {{ post.author }}</p>
			<p>On {{ post.postedOn }} </p>
		</span>
		<p class="card-text" style="overflow: hidden; text-overflow: ellipsis; width: auto; white-space: nowrap">
      {{ post.shortContent }} </p>
	</div>
</div>