<div class="container-fluid bg-light h-100">
  <div class="container">
  <div class="row py-4" style="height: 100vh;">
    <div class="col-md-3">
      <app-side-nav></app-side-nav>
    </div>
    <div class="col-md-6">
      <router-outlet></router-outlet>
      <!-- <router-outlet name="mid-content"></router-outlet>       -->
    </div>
    <div class="col-md-3">
      <!-- <router-outlet name="right-content"></router-outlet> -->
      <app-company-info></app-company-info>
    </div>
  </div>
</div>
</div>



