/* Add application styles & imports to this file! */
@import url("https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
html, body{
  font-size: 14px;
}

.fix-pos{
  position:sticky;
  top:0px;
}